In [1]:
import pandas as pd 
a = [1,2]
b = [4,5]

c = pd.DataFrame([a,b])
c
#sample 2X2 matrix

   0  1
0  1  2
1  4  5

In [2]:
d = [1,2]
e = [2,3]

f = pd.DataFrame([d,e])
f
#sample 2X2 matrix

   0  1
0  1  2
1  2  3

In [3]:
def add_matrices(matrixa,matrixb):
    
    l = matrixa.loc[0][0]+matrixb.loc[0][0]
    r = matrixa.loc[0][1]+matrixb.loc[0][1]
    ll = matrixa.loc[1][0]+matrixb.loc[1][0]
    lr = matrixa.loc[1][1]+matrixb.loc[1][1]
    
    col  = [l,r]
    col2 = [ll,lr]
    
    add = pd.DataFrame([col,col2])
    return add
#simple way to add two 2X2 matrices

In [4]:
add_matrices(c,f)

   0  1
0  2  4
1  6  8

In [9]:
def add__matrices(matrixa,matrixb):
   
    col1 = matrixa.loc[0] + matrixb.loc[0]
    col2 = matrixa.loc[1] + matrixb.loc[1]
        
    add = pd.DataFrame([col1,col2]) 
        
    return add
#condensed way to add two 2X2 matrices

In [10]:
add__matrices(c,f)

   0  1
0  2  4
1  6  8

In [32]:
def add_any_matrices(matrixa,matrixb):
    a = matrixa.shape
    b = matrixb.shape
    if a[0] == b[0] and a[1] == b[1] :
        
        add = pd.DataFrame()
        for column in matrixa:
            col = matrixa[column] + matrixb[column]
            add[column] = col
        return add
    else:
        print('These matrices are not the same size. You cannot add them.')
    
#way to add any two matrices regardless of size

In [26]:
add_any_matrices(c,f)

   0  1
0  2  4
1  6  8

In [13]:
s = [1,2,5]
t = [4,5,3]
u = [6,7,6]

r = pd.DataFrame([s,t,u])
r
#sample 3X3 matrix

   0  1  2
0  1  2  5
1  4  5  3
2  6  7  6

In [14]:
l = [1,2,7]
m = [2,3,9]
n = [1,2,3]

w = pd.DataFrame([l,m,n])
w
#sample 3X3 matrix

   0  1  2
0  1  2  7
1  2  3  9
2  1  2  3

In [20]:
add_any_matrices(r,w)

   0  1   2
0  2  4  12
1  6  8  12
2  7  9   9

In [33]:
add_any_matrices(r,c)

These matrices are not the same size. You cannot add them.

In [34]:
l = [1,2,7]
m = [2,3,9]


q = pd.DataFrame([l,m])
q
#sample 2X3 matrix

   0  1  2
0  1  2  7
1  2  3  9

In [35]:
add_any_matrices(r,q)

These matrices are not the same size. You cannot add them.

In [36]:
add_any_matrices(c,q)

These matrices are not the same size. You cannot add them.