In [1]:
import pandas as pd 
a = [1,2]
b = [4,5]

c = pd.DataFrame([a,b])
c

   0  1
0  1  2
1  4  5

In [2]:
d = [1,2]
e = [2,3]

f = pd.DataFrame([d,e])
f

   0  1
0  1  2
1  2  3

In [16]:
def mult_matrices(matrixa,matrixb):
    
    a = matrixa.loc[0][0]*matrixb[0][0] + matrixa.loc[0][1]*matrixb[0][1]
    b = matrixa.loc[0][0]*matrixb[1][0] + matrixa.loc[0][1]*matrixb[1][1]
    c = matrixa.loc[1][0]*matrixb[0][0] + matrixa.loc[1][1]*matrixb[0][1]
    d = matrixa.loc[1][0]*matrixb[1][0] + matrixa.loc[1][1]*matrixb[1][1]
    
    col1 = [a,b]
    col2 = [c,d]
    
    mult = pd.DataFrame([col1,col2])
    return mult

In [17]:
mult_matrices(c,f)

    0   1
0   5   8
1  14  23