## Multiplying Matrices

In [5]:
import pandas as pd

In [10]:
m1 = pd.DataFrame()
m1['Col. 1'] = [1,4]
m1['Col. 2'] = [2,5]
m1['Col.3'] = [3,6] 
m1

   Col. 1  Col. 2  Col.3
0       1       2      3
1       4       5      6

In [11]:
m2 = pd.DataFrame()
m2['Col.1'] = [7,9,11]
m2['Col. 2'] = [8,10,12] 
m2

   Col.1  Col. 2
0      7       8
1      9      10
2     11      12

In [17]:
m3 = pd.DataFrame()