In [21]:
import pandas as pd

In [22]:
a = pd.DataFrame()
b = pd.DataFrame()
a['Col 1'] = [-2,4]
a['Col 2'] = [3,6]
a['Col 3'] = [2,-2]
b['Col 1'] = [4,3,-2]
b['Col 2'] = [-1,0,3]
b['Col 3'] = [2,1,5]
b['Col 4'] = [5,1,-3]
a

   Col 1  Col 2  Col 3
0     -2      3      2
1      4      6     -2

In [23]:
b

   Col 1  Col 2  Col 3  Col 4
0      4     -1      2      5
1      3      0      1      1
2     -2      3      5     -3

In [24]:
count = 0
alll = []
while count < b.shape[1]:
    col = list(b.iloc[:,count])
    dots = []
    count2 = 0
    while count2 < a.shape[0]:
        row = list(a.loc[count2])
        dot = 0
        count3 = 0
        while count3 < len(row):
            dot += row[count3]*col[count3]
            count3 += 1
        dots.append(dot)
        count2 += 1
    alll.append(dots)
    count += 1

In [25]:
alll

[[-3, 38], [8, -10], [9, 4], [-13, 32]]

In [26]:
ab = pd.DataFrame()
i = 0
col_count = list(b.columns)
while i < len(col_count):
    ab['Col ' + str(i+1)] = alll[i]
    i += 1

In [27]:
ab

   Col 1  Col 2  Col 3  Col 4
0     -3      8      9    -13
1     38    -10      4     32

In [28]:
def multiply(a, b):
    count = 0
    alll = []
    while count < b.shape[1]:
        col = list(b.iloc[:,count])
        dots = []
        count2 = 0
        while count2 < a.shape[0]:
            row = list(a.loc[count2])
            dot = 0
            count3 = 0
            while count3 < len(row):
                dot += row[count3]*col[count3]
                count3 += 1
            dots.append(dot)
            count2 += 1
        alll.append(dots)
        count += 1
    ab = pd.DataFrame()
    i = 0
    col_count = list(b.columns)
    while i < len(col_count):
        ab['Col ' + str(i+1)] = alll[i]
        i += 1
    return ab

In [29]:
multiply(a, b)

   Col 1  Col 2  Col 3  Col 4
0     -3      8      9    -13
1     38    -10      4     32