In [1]:
import pandas as pd

In [2]:
a = pd.DataFrame()
b = pd.DataFrame()
a['Col 1'] = [-2,4]
a['Col 2'] = [3,6]
a['Col 3'] = [2,-2]
b['Col 1'] = [1,2,3]
b['Col 2'] = [5,3,4]
a

   Col 1  Col 2  Col 3
0     -2      3      2
1      4      6     -2

In [3]:
b

   Col 1  Col 2
0      1      5
1      2      3
2      3      4

In [4]:
ab = pd.DataFrame()
row_count = a.shape[0]
count2 = 0
row = []
while count2 < row_count:
    row.append(0)
    count2 += 1
    
cols = list(b.columns)
count = 0
while count < len(cols):
    ab['Col ' + str(count+1)] = row
    count += 1

In [ ]:
inc = 0
while inc < a.shape[0]:
    inc += 1

In [ ]:
arow = list(a.loc[0])
arow

[-2, 3, 2]

In [ ]:
bcol = list(b.iloc[:,0])
bcol

[1, 2, 3]

In [ ]:
count2 = 0
ans = 0
while count2 < len(arow):
    ans += arow[count2]*bcol[count2]
    count2 += 1
ans

10

In [ ]:
print(a.shape)
print(b.shape)

(2, 3)
(3, 2)

In [ ]:
count3 = 0
alll = []
while count3 < b.shape[1]:
    col = list(b.iloc[:,count3])
    dots = []
    count4 = 0
    while count4 < a.shape[0]:
        row = list(a.loc[count4])
        dot = 0
        count5 = 0
        while count5 < len(row):
            dot += row[count5]*col[count5]
            count5 += 1
        dots.append(dot)
        count4 += 1
    alll.append(dots)
    count3 += 1

In [ ]:
alll

[[10, 10], [7, 30]]

In [ ]:
i = 0
while i < len(list(ab.columns)):
    ab['Col ' + str(i+1)] = alll[i]