In [1]:
import pandas as pd

In [2]:
matrix = pd.DataFrame()
matrix['Col 1'] = [69,34]
matrix['Col 2'] = [43,72]
matrix

   Col 1  Col 2
0     69     43
1     34     72

In [3]:
matrix.loc[1] = matrix.loc[1] - 3*matrix.loc[0]
matrix

   Col 1  Col 2
0     69     43
1   -173    -57

In [4]:
matrix.loc[1] = matrix.loc[1]*-(1/5)
matrix

   Col 1  Col 2
0   69.0   43.0
1   34.6   11.4

In [5]:
matrix.loc[0] = matrix.loc[0] - 4*matrix.loc[1]
matrix

   Col 1  Col 2
0  -69.4   -2.6
1   34.6   11.4

In [6]:
matrix2 = pd.DataFrame()
matrix2['Col 1'] = [1,2]
matrix2['Col 2'] = [2,4]
matrix2

   Col 1  Col 2
0      1      2
1      2      4

In [7]:
if matrix2['Col 1'][1] != 0:
    matrix2.loc[1] = matrix2['Col 1'][0]*matrix2.loc[1] - matrix2['Col 1'][1]*matrix2.loc[0]

    
matrix2

   Col 1  Col 2
0      1      2
1      0      0

In [8]:
if matrix2['Col 2'][1] != 1 and matrix2['Col 2'][1] != 0:
    matrix2.loc[1] = matrix2.loc[1]*1/matrix2['Col 2'][1]
matrix2

   Col 1  Col 2
0      1      2
1      0      0

In [9]:
if matrix2['Col 2'][0] != 0 and matrix2['Col 2'][1] != 0:
    matrix2.loc[0] = matrix2['Col 2'][1]*matrix2.loc[0] - matrix2['Col 2'][0]*matrix2.loc[1]
matrix2

   Col 1  Col 2
0      1      2
1      0      0

In [10]:
if matrix2['Col 1'][0] != 0 and matrix2['Col 1'][0] != 0:
    matrix2.loc[0] = matrix2.loc[0]/matrix2['Col 1'][0]
matrix2

   Col 1  Col 2
0    1.0    2.0
1    0.0    0.0

In [11]:
def row_ech(matrix):
    matrix2 = matrix
    if matrix2['Col 1'][1] != 0:
        matrix2.loc[1] = matrix2['Col 1'][0]*matrix2.loc[1] - matrix2['Col 1'][1]*matrix2.loc[0]
    if matrix2['Col 2'][1] != 1 and matrix2['Col 2'][1] != 0:
        matrix2.loc[1] = matrix2.loc[1]*1/matrix2['Col 2'][1]
    if matrix2['Col 2'][0] != 0 and matrix2['Col 2'][1] != 0:
        matrix2.loc[0] = matrix2['Col 2'][1]*matrix2.loc[0] - matrix2['Col 2'][0]*matrix2.loc[1]
    if matrix2['Col 1'][0] != 1 and matrix2['Col 1'][0] != 0:
        matrix2.loc[0] = matrix2.loc[0]/matrix2['Col 1'][0]
    return matrix2

In [12]:
c = pd.DataFrame()
c['Col 1'] = [1,2]
c['Col 2'] = [2,4]
c

   Col 1  Col 2
0      1      2
1      2      4

In [13]:
row_ech(c)

   Col 1  Col 2
0      1      2
1      0      0

In [14]:
x = c.columns[0]

In [15]:
def row(matrix):
    matrix2 = matrix
    if matrix2[matrix.columns[0]][1] != 0:
        matrix2.loc[1] = matrix2[matrix.columns[0]][0]*matrix2.loc[1] - matrix2[matrix.columns[0]][1]*matrix2.loc[0]
    if matrix2[matrix.columns[1]][1] != 1 and matrix2[matrix.columns[1]][1] != 0:
        matrix2.loc[1] = matrix2.loc[1]*1/matrix2[matrix.columns[1]][1]
    if matrix2[matrix.columns[1]][0] != 0 and matrix2[matrix.columns[1]][1] != 0:
        matrix2.loc[0] = matrix2[matrix.columns[1]][1]*matrix2.loc[0] - matrix2[matrix.columns[1]][0]*matrix2.loc[1]
    if matrix2[matrix.columns[0]][0] != 1 and matrix2[matrix.columns[0]][0] != 0:
        matrix2.loc[0] = matrix2.loc[0]/matrix2[matrix.columns[0]][0]
    return matrix2

In [16]:
row(c)

   Col 1  Col 2
0      1      2
1      0      0